.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.navbar {
  background-color: rgb(145, 219, 176);
}
.navbar-brand {
  margin: auto;
}

a {
  border: 1px solid green;
}

a:first-of-type {
  margin-right: 50px;
}
